body {
   @include lg {
    height: 100vh;
    overflow: hidden;
   }
}

ul,
li,
div,
header,
footer,
article,
section,
figure {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

section {
  position: relative;
}